<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Configuración Interfaz-->
		<add key="nombreInterfaz" value="BS360"/>
		<add key="nombreEquipo" value="BS360"/>
		<add key="tiempoRetransmision" value="5" />
		<add key="cantidadMensajesVista" value="40" />
		<!--Configuración Log-->
		<add key="logActivo" value="S" />
		<add key="rutaLog" value="C:\logs" />
		<add key="nombreLog" value="BS360"/>
		<add key="rutaArchivosOK" value="C:\RUTASINTERFACES\Archivos\ArchivosOK"/>
		<add key="rutaRetransmision" value="C:\RUTASINTERFACES\Archivos\Retransmision"/>
		<add key="rutaArchivosError" value="C:\RUTASINTERFACES\Archivos\ArchivosError"/>
		<!--Configuración Servicios-->
		<add key="codeDM" value="DM_BS2-1-19-1"/>
		<add key="user" value="UserX"/>
		<add key="client" value="livelis_Int_Colcan"/>
		<add key="userName" value="Interface" />
		<add key="password" value="Inter*Des1*face"/>
		<add key="endPointBase" value="https://livelis-backend-inter-annar.azurewebsites.net" />
		<add key="endPointHostQuery" value="/api/HostqueryDM" />
		<add key="endPointResultados" value="/api/ResultadosDM" />
		<add key="endPointToken" value="/api/Login" />
		<!-- Configuración Socket-->
		<add key="puerto" value="8010" />
		<add key="ipServidor" value="127.0.0.1" />
		<add key="intentosReconexionSocket" value="3" />
	</appSettings>
</configuration>